* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: merriweather; 
	list-style: none;
	text-decoration: none;
}
body {
	max-width: 1280px;
	background: linear-gradient(0deg, white, #208CB0 60%);
}