/*Styling Footer*/

/*General Styling*/
footer {
  background-color: map-get($color, dark);
  display: flex;
  justify-content: center;
  align-items: center;
  //max-width: 40em;
}
footer h1 {
  font-weight: bold;
  color: map-get($color, accent1);
  margin-top: 10px;
  text-align: center;
}
