/*Styling Hero*/

/*Hero Mobile*/
.hero {
    background-image: url(https://raw.githubusercontent.com/mig-25/evxfeh17_html_tenta/master/app/images/scotland.png);
    background-repeat: no-repeat; /*displays the image once*/
    background-size: 100% 100%; /*makes the image responsive on mobile*/
    align-self: center;
    height:30vh;
    color: map-get($color, bright);
    //max-width: 40em;
}
.hero h1 {
    text-align: center;
    padding-top: 15px;
    font-size: 50px;
}
.hero p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

/*Hero Desktop & Tablet*/
@include respond-to("small") {
.hero h1 {
    padding-top: 80px;
    margin:0;
}
.hero p {
    padding-top: 30px;
}
}    
