/*Styling Main-Container*/

/*Grid Styling .card*/
@supports (grid-area: auto) {
@include respond-to('small') {    
.card {
    display:grid;
    grid-template: auto / 1fr 3fr;
    grid-template-areas: "img title" "img content"; 
    padding: 1.5em;
    grid-column-gap: 1.5em; /*this removes row gap*/
}
.card img {
    grid-area: img;
}
.card .card-title {
    grid-area: title
}
.card .card-content {
    grid-area: content;
}

/*Grid Styling .portfolio*/
.portfolio {
    display: grid;
    grid-template: repeat(8,1fr) / repeat(5,1fr);
    grid-gap: 20px; 
    height: 100%;
}

}
}