//Placeholders and classes:

///Button placeholder
%btn{
	width: 200px;
  height: 200px;
	border-radius: 50%;
	color:white;
 	text-decoration: none;
 	padding:5%;
	margin: 10px;	
 	font-family: 'Poiret One', cursive;
 	font-size:1.5em;
}
///Opacity placeholder
%effect {
	font-weight:bold;
}
.bg_block img {
@extend %effect;
	filter:opacity(50%);
  	&:hover {
	filter: opacity(100%);
	}
}