/*Styling Tutorials*/
.tutorials h1 {
    margin-bottom: 40px;
}
.tutorials .tutext {
    margin-left:1.9em;
}
.tutorials iframe {
    width:460px;
    height:215px; 
    margin-bottom:10px;
    margin-left:3em;
}
@include respond-to("small") { 
.tutorials .tutext {
    margin-left:2.5em;
}
.tutorials iframe {
    width:660px;
    height:415px; 
    margin-bottom:10px;
    margin-left:4em;
}
}
@include respond-to("medium") { 
.tutorials .tutext {
    margin-left:9.5em;
}
.tutorials iframe {
    width:660px;
    height:415px; 
    margin-bottom:10px;
    margin-left:15em;
}
}