/*Styling Main-Content*/

/*General Styling*/
.main-content {
  min-height:100vh;
  margin-bottom: 1em;
}
.portfolio {
  color: map-get($color, bright);
  font-weight: bold;
  font-size: 25px;
}
.portfolio .portfolio-item {
  padding: 10px;
  margin-bottom: 1em;
  background-color: map-get($color, dark);
}
.portfolio .portfolio-item:nth-child(2) {
  padding: 0; /*removes padding around picture*/
}
.large {
  margin-bottom: 1em;
  position: relative;
}
.large p {
  position: absolute;
  top: 2%;
  left: 1%;
}
.large img {
  height: auto;
  width: 100%;
  display: block;
}