* {
	padding: 0;
	margin: 0;
	font-family: merriweather; 
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
body {
	background: linear-gradient(0deg,white, rgb(126, 87, 109)); /*linear gradient that progress in a straight line*/
	margin:0;
}