<<<<<<< HEAD
* {  
    box-sizing:border-box; /*box-sizing sets the sizing property to border-box*/
    margin:0;
    padding:0;
    list-style:none; /*all <ul> elements have no bulletpoints*/
    text-decoration:none; /*all <a> elements have no underlines*/
}
body{
    margin:0 auto;
    width:100%;
}
#nav-toggle { 
    display:none; /*hides the menu checkbox*/
}
#nav-toggle:checked + #wrapper nav { 
    display:block; /*displays mobile menu when the checkbox is on checked mode*/
}
.logo-container { /*flexbox 1 in header, which holds all the social media icons and the <h> elements on the top*/ 
    display:flex;
    justify-content:center; /*the flexbox content is centered in mobile*/  
    align-items:baseline; /*all flexbox items are aligned such as their baselines align*/
}
.logo-container .fa-youtube-square { /*the first four code sections are used to style all the social media icons on the top*/
    padding-right:1em;
    font-size:2.5em;
    color:#FF3131;
}
.logo-container .fa-facebook-square { 
    padding-right:1em;
    font-size:2.5em;
    color:#ADD8E6;
}
.logo-container .fa-instagram {
    padding-right:1em;
    font-size:2.5em;
    color:#A52A2A;
}
.logo-container .fa-twitter {
    padding-right:1em;
    font-size:2.5em;
    color:#0000FF;
}
.logo-container h1, h2 { 
    margin-right:10px; /*creates space between the two <h> elements on the top*/ 
}
nav ul { /*flexbox 2 which holds all the transport icons on the top*/   
    display:flex;
    flex-flow:column wrap; /*wraps around the menu category boxes and show them vertically*/
    text-align:center; /*centers the navitagtion list items*/
    width:auto;
}
nav ul .fa:nth-child(-n+5) { /*sets a style for the first five menu category boxes on mobile*/
    padding:10px;
    font-size:25px;
    color:white;    
}
nav .fa-bicycle { /*the first five code sections are used to style the all the transport icons on the top*/
    background-color:#1abc9c;
}   
nav .fa-car {
    background-color:#16738F;
}
nav .fa-taxi {
    background-color:#9b59b6;
}
nav .fa-bus {
    background-color:#34495e;
}
nav .fa-subway {
    background-color:#f1c40f;
}
nav .search-form { /*sets a style for the entire searchform*/
    background-color:#e67e22;
    padding:10px;
    order:-1; /*places the search-form as the first list element in the navigation bar on mobile*/
}
.search { /*sets a style for the search field*/
    background-color:#e67e22;
    color:white;    
    margin-right:5px;
}
.syndicate { /*flexbox 3 which holds all the elements under the header*/
    display:flex;
    flex-direction:column;
}
.syndicate img {
    align-self:center;
    height:auto;
    width:100%;
}
.baseline { /*flexbox 4 which holds the MY TITLE with baseline text*/
    display:flex;
    flex-direction:column;
    background-color:#1abc9c;
    padding-left:10px;
    padding-bottom:10px;
    font-size:20px;
    color:white;
}
.baseline h1, h2 { 
    margin-right:10px;
}
.h-elements {
    display:flex;  
    align-items:baseline; /*displays the <h1> and <h2> elements on the same line*/
}
.flexcard { /*flexbox 5 which holds all the three articles*/
    display:flex;
    max-width:100%; /*the flexcards cannot be more than 100% in width*/
    justify-content:center;
}
.flexcard a {
    color:white;
} 
article { /*gives a certain background-color to the article*/
    background-color:#9b59b6;
}
article:nth-child(3n+2) { /*gives a certain background-color to the second article starting from the third article*/
    background-color:#16738F;
}
.flexcard:last-of-type { /*gives a certain background-color to the last article*/
    background-color:#34495e;
} 
article p {
    color:white;
    padding:0.5em;
    font-size:20px;
}
.flex1 p { /*styles all article headlines which is written with a <p> tag*/
    font-size:140%;
    font-weight:700;
    color:white;
    margin-left:5px;
}
.flex2 { /*flexbox 6 which holds two font icons in each article*/
    display:flex;
    justify-content:space-between; /*makes space between author, bicycle, car and bus*/
    font-size:20px;
    padding:10px;
}
.flexcard footer { /*flexbox 7 which holds all the social media icons in footer*/
    display:flex;
    flex-direction:row;
    justify-content:center; /*could have used space-between but it makes the space too wide*/
    margin:5px;
    font-size:35px;
    letter-spacing:50px; /*creates space between the icons*/
    background-color:#e67e22;
}
.box2 {
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#f1c40f;
    font-size:20px;
    color:white;
}
.box2 h2 {
    padding-bottom:10px;
}
.blog_summary {
    display:flex; 
    flex-direction:column;  
    background-color:#e67e22; 
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    font-size:20px;
}
.blog_summary p {
    color:white;
    font-size:20px;
}
.blog_summary h2 {
    padding-bottom:10px;
    color:white;
}
.contact {
    display:flex;
    justify-content:center;
    background-color:grey;
    font-size:20px;
}
@media all and (min-width: 816px){
nav { 
    display: block; /*shows desctop menu*/
}
nav ul { /*flexbox is redesigned in desctop*/
    flex-flow:nowrap;
    flex-direction:row;
    justify-content:flex-end;
    border-bottom-style:solid; /*creates a bottom border on the desctop navigation only*/
    border-bottom-color:#3d3434;
}
nav ul li { /*the menu category boxes are redesigned in desctop*/
    border-top-left-radius:10px; /*creates the top rounded corners*/
    border-top-right-radius:10px;   
}
.logo-container { /*the flexbox is redesigned in desctop*/
    flex-direction:row;
    justify-content:flex-end; /*default flext direction which makes the elements start from left to right*/
    margin-right:20px;
}
nav .search-form { 
    order:1; /*pushes the search form on the right side*/
}
.section-container {
    display:flex;
}
.syndicate {
    flex-direction:row; 
    flex-wrap:wrap; 
    width:75%;  
}
.flexcard {
   max-width:50%;
   flex-direction:row;
   margin-bottom:5%;
}
.flexcard:nth-child(4n) {
    max-width:100%;
    flex-direction:column; 
} 
.blog_summary {
    width:25%;
    height:80hv;
    color:white;
    order:-1;   
    padding-top:1em;
}
.box2 { 
    width:100%; 
    min-height:120px;
}
=======
* {  
    box-sizing:border-box; /*box-sizing sets the sizing property to border-box*/
    margin:0;
    padding:0;
    list-style:none; /*all <ul> elements have no bulletpoints*/
    text-decoration:none; /*all <a> elements have no underlines*/
}
body{
    margin:0 auto;
    width:100%;
}
#nav-toggle { 
    display:none; /*hides the menu checkbox*/
}
#nav-toggle:checked + #wrapper nav { 
    display:block; /*displays mobile menu when the checkbox is on checked mode*/
}
.logo-container { /*flexbox 1 in header, which holds all the social media icons and the <h> elements on the top*/ 
    display:flex;
    justify-content:center; /*the flexbox content is centered in mobile*/  
    align-items:baseline; /*all flexbox items are aligned such as their baselines align*/
}
.logo-container .fa-youtube-square { /*the first four code sections are used to style all the social media icons on the top*/
    padding-right:1em;
    font-size:2.5em;
    color:#FF3131;
}
.logo-container .fa-facebook-square { 
    padding-right:1em;
    font-size:2.5em;
    color:#ADD8E6;
}
.logo-container .fa-instagram {
    padding-right:1em;
    font-size:2.5em;
    color:#A52A2A;
}
.logo-container .fa-twitter {
    padding-right:1em;
    font-size:2.5em;
    color:#0000FF;
}
.logo-container h1, h2 { 
    margin-right:10px; /*creates space between the two <h> elements on the top*/ 
}
nav ul { /*flexbox 2 which holds all the transport icons on the top*/   
    display:flex;
    flex-flow:column wrap; /*wraps around the menu category boxes and show them vertically*/
    text-align:center; /*centers the navitagtion list items*/
    width:auto;
}
nav ul .fa:nth-child(-n+5) { /*sets a style for the first five menu category boxes on mobile*/
    padding:10px;
    font-size:25px;
    color:white;    
}
nav .fa-bicycle { /*the first five code sections are used to style the all the transport icons on the top*/
    background-color:#1abc9c;
}   
nav .fa-car {
    background-color:#16738F;
}
nav .fa-taxi {
    background-color:#9b59b6;
}
nav .fa-bus {
    background-color:#34495e;
}
nav .fa-subway {
    background-color:#f1c40f;
}
nav .search-form { /*sets a style for the entire searchform*/
    background-color:#e67e22;
    padding:10px;
    order:-1; /*places the search-form as the first list element in the navigation bar on mobile*/
}
.search { /*sets a style for the search field*/
    background-color:#e67e22;
    color:white;    
    margin-right:5px;
}
.syndicate { /*flexbox 3 which holds all the elements under the header*/
    display:flex;
    flex-direction:column;
}
.syndicate img {
    align-self:center;
    height:auto;
    width:100%;
}
.baseline { /*flexbox 4 which holds the MY TITLE with baseline text*/
    display:flex;
    flex-direction:column;
    background-color:#1abc9c;
    padding-left:10px;
    padding-bottom:10px;
    font-size:20px;
    color:white;
}
.baseline h1, h2 { 
    margin-right:10px;
}
.h-elements {
    display:flex;  
    align-items:baseline; /*displays the <h1> and <h2> elements on the same line*/
}
.flexcard { /*flexbox 5 which holds all the three articles*/
    display:flex;
    max-width:100%; /*the flexcards cannot be more than 100% in width*/
    justify-content:center;
}
.flexcard a {
    color:white;
} 
article { /*gives a certain background-color to the article*/
    background-color:#9b59b6;
}
article:nth-child(3n+2) { /*gives a certain background-color to the second article starting from the third article*/
    background-color:#16738F;
}
.flexcard:last-of-type { /*gives a certain background-color to the last article*/
    background-color:#34495e;
} 
article p {
    color:white;
    padding:0.5em;
    font-size:20px;
}
.flex1 p { /*styles all article headlines which is written with a <p> tag*/
    font-size:140%;
    font-weight:700;
    color:white;
    margin-left:5px;
}
.flex2 { /*flexbox 6 which holds two font icons in each article*/
    display:flex;
    justify-content:space-between; /*makes space between author, bicycle, car and bus*/
    font-size:20px;
    padding:10px;
}
.flexcard footer { /*flexbox 7 which holds all the social media icons in footer*/
    display:flex;
    flex-direction:row;
    justify-content:center; /*could have used space-between but it makes the space too wide*/
    margin:5px;
    font-size:35px;
    letter-spacing:50px; /*creates space between the icons*/
    background-color:#e67e22;
}
.box2 {
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#f1c40f;
    font-size:20px;
    color:white;
}
.box2 h2 {
    padding-bottom:10px;
}
.blog_summary {
    display:flex; 
    flex-direction:column;  
    background-color:#e67e22; 
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    font-size:20px;
}
.blog_summary p {
    color:white;
    font-size:20px;
}
.blog_summary h2 {
    padding-bottom:10px;
    color:white;
}
.contact {
    display:flex;
    justify-content:center;
    background-color:grey;
    font-size:20px;
}
@media all and (min-width: 816px){
nav { 
    display: block; /*shows desctop menu*/
}
nav ul { /*flexbox is redesigned in desctop*/
    flex-flow:nowrap;
    flex-direction:row;
    justify-content:flex-end;
    border-bottom-style:solid; /*creates a bottom border on the desctop navigation only*/
    border-bottom-color:#3d3434;
}
nav ul li { /*the menu category boxes are redesigned in desctop*/
    border-top-left-radius:10px; /*creates the top rounded corners*/
    border-top-right-radius:10px;   
}
.logo-container { /*the flexbox is redesigned in desctop*/
    flex-direction:row;
    justify-content:flex-end; /*default flext direction which makes the elements start from left to right*/
    margin-right:20px;
}
nav .search-form { 
    order:1; /*pushes the search form on the right side*/
}
.section-container {
    display:flex;
}
.syndicate {
    flex-direction:row; 
    flex-wrap:wrap; 
    width:75%;  
}
.flexcard {
   max-width:50%;
   flex-direction:row;
   margin-bottom:5%;
}
.flexcard:nth-child(4n) {
    max-width:100%;
    flex-direction:column; 
} 
.blog_summary {
    width:25%;
    height:80hv;
    color:white;
    order:-1;   
    padding-top:1em;
}
.box2 { 
    width:100%; 
    min-height:120px;
}
>>>>>>> 7bce5335dc2085ff028dd0ee5d4c3e8bb7ec58d2
}