* {
	box-sizing:border-box;
	padding:0;
	margin:0;
}
body {
	margin:0;
	background-color:orange;
}
ul, a {
	list-style:none;
	text-decoration:none;
}
nav {
	text-align:center;
	padding:20px;
	background-color:#333
}
nav li {
	display:inline; 
	margin:55px; 
	color:white;
}
section div p {
	color:white;
	font-size:40px;
}
.container {
	display:grid;
	grid-gap:10px;
	grid-template-columns: 1fr 1fr 2fr;
}
.box1 {
	margin:15px;
	background-color:green;
}
.box2 {
	background-color:purple;
	margin:15px;
}
.box3 {
	background-color:blue;
	margin:15px;
}
.box4 {
	background-color:yellow;
	margin:15px;
}




@media all and (min-width:630px) {