/*Styling Div "itm bg_block*/

/*General Styling*/
.bg_block {
    border-style: solid;
    border-color: #333;
    border-width: 20px;    
    position: relative;
    margin: 5px; 
    margin-bottom: 1em;
    color: map-get($color, dark);
}
.bg_block img {
    display: block;
    height: auto;
    width: 100%;
}
.bg_block p {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    border-bottom-style: solid;
    border-bottom-color: map-get($color, dark);
    border-width: 2px;
    width: 95%; /*the border is 95% long*/
}
.bg_block h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 45px;
}
.bg_block span {
    color:map-get($color, bright);
}

/*Breakpoint medium*/
@include respond-to("medium") { 
.bg_block p {
    font-size: 30px;
}
.bg_block h1 {
    font-size: 85px;
}
}

/*Breakpoint large*/
@include respond-to("large") { 
.bg_block p {
    font-size: 20px;
}
.bg_block h1 {
    font-size: 65px;
}
}

/*Breakpoint large*/
@include respond-to("wide") { 
.bg_block p {
    font-size: 35px;
}
.bg_block h1 {
    font-size: 78px;
}
}