/*Styling Header*/

/*General Styling*/
.denver {
    display: block;
    border-bottom-style: solid;
    border-bottom-color: map-get($color, dark); /*using color variable from colors map*/
    border-width: 8px;
    margin: 5px; /*creates margin on the sides*/
    margin-bottom: 1em;
}
.denver h1 {
    color: map-get($color, bright); 
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin: 0; /*resets margin*/
    margin-top: 20px;
}

/*Breakpoint medium*/
@include respond-to("medium") { /*using breakingpoint variable from breakingpoints*/
    .denver h1 { /*the h1 headline changes on each breakpoint*/
        font-size: 45px;
    }
}

/*Breakpoint large*/
@include respond-to("large") { 
    .denver h1 {
        font-size: 60px;
    }
}
    
/*Breakpoint wide*/
@include respond-to("wide") { 
    .denver h1 {
        font-size: 90px;
    }
}