/*Styling Div "item small_ad"*/

/*General Styling*/
.small_ad {
    text-align: center;
    border-style: solid;
    border-color: map-get($color, dark);
    border-width: 2px;
    margin: 5px;
    margin-bottom: 1em;
    padding: 20px;
}
.ad2 { /*this rule applies to all span elements with the .ad2 class*/
    display: block;
    font-size: 20px;
    color: map-get($color, bright); 
}
.ad2:nth-child(1) { /*this rule only applies to the first span child*/
    margin-bottom: 10px;
}
.ad2:nth-child(3) { /*this rule only applies to the last span child*/
    margin-top: 10px;
}
.ad1 {
    font-style: italic;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: map-get($color, dark);
    border-width: 2px;
    color: map-get($color, bright);
    font-size: 30px;
    padding: 2px;
}