@charset "UTF-8";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
*,
*:before,
*:after {
  box-sizing: inherit; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: merriweather;
  list-style: none;
  text-decoration: none; }

/*--------------------------------------------------------------
Breakpoints code
------------------------------------------------*/
/*--------------------------------------------------------------
Variabels
------------------------------------------------*/
/*--------------------------------------------------------------
Navigation code mobile
--------------------------------------------------------------*/
/*style på navigations megamenu rubriker*/
h4 {
  max-width: 100%;
  background-color: #363586;
  color: white;
  text-align: center;
  text-transform: uppercase; }

/*döljer bilder så att dom inte synds på mobile meny*/
.submenu img {
  display: none; }

/*Nav styling*/
#nav {
  width: 100%;
  font-size: 1em;
  background: silver; }

/*Nav label styling*/
#nav label.menu {
  position: relative;
  display: block;
  min-height: 2em;
  padding: 0.45em;
  font-size: 1.3em;
  margin: 0;
  cursor: pointer;
  background: #000000;
  line-height: 2em;
  color: #FFFFFF; }

#nav label.menu:after {
  position: absolute;
  right: 1em;
  top: 0.2em;
  content: "\2261";
  /*lägger till 3sträck symbol för stänga öppna menyn*/
  font-size: 1.8em; }

/*dölj checkboxen*/
#nav input.trigger {
  position: absolute;
  display: none; }

/*Fäll ut hela menyn om checkboxen är iklickad*/
#nav input.trigger:checked ~ ul {
  display: block !important; }

/*Menyn dold som default på mobilen*/
#nav > ul {
  display: none;
  position: relative;
  width: 100%; }

#nav ul li a {
  display: block;
  color: white; }

#nav ul.megamenu ul li a {
  padding-left: 2.5em;
  color: black; }

.flex-form li {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em; }

.flex-form > li > .form-label {
  flex: 1 0 6.25em;
  max-width: 12.5em;
  color: white; }

/*rader mellan formulären*/
.flex-form > li > .form-label + * {
  flex: 1 0 12.5em;
  margin-bottom: 0.6em; }

/*style på formulär knappen*/
.flex-form li button {
  margin: 0.5em;
  padding: 0.5em;
  width: 100%;
  color: white;
  background-color: #363586;
  font-size: 0.8em;
  font-weight: bold; }

/*--------------------------------------------------------------
Code for desktop navigation 
------------------------------------------------*/
@media (min-width: 32.188em) {
  /*följer nav label*/
  #nav label.menu {
    display: none; }
  /*shadow,color for nav*/
  #nav {
    background: #000000;
    font-size: 1em;
    box-shadow: 0 4px 2px -2px black; }
  /*Fäll ut hela menyn om checkboxen är iklickad*/
  #nav input.trigger:checked ~ ul {
    display: flex !important; }
  /*Sätt till flex på menyn på desktop*/
  #nav > ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    max-width: 75em;
    margin: 0 auto;
    padding: 0; }
  #nav a {
    display: block;
    color: #fff; }
  #nav ul li {
    color: #fff;
    transition: 0.5s; }
  /*15px över ooch under och 25px padding till höger och vänster */
  #nav > ul > li > a {
    padding: 15px 25px; }
  /*för li elementet där undermenyn ligger, så använder vi psuedo elementet :after på a elementet för att rita en pil*/
  #nav ul > li.submenu > a:after {
    position: relative;
    float: right;
    /*använder float för placering av pilen*/
    content: "";
    /*pilen ner*/
    margin-left: 10px;
    margin-top: 8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff; }
  /*vid hover på vår undermeny så vänder vi på pilen*/
  #nav ul > li.submenu:hover > a:after {
    margin-top: 2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #fff; }
  #nav > ul > li:hover {
    background-color: #363586;
    border-left: 1px white inset;
    border-right: 1px white inset; }
  /*Megamenun */
  #nav ul.megamenu {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    top: -1700px;
    left: 0;
    padding: 40px 40px 0 40px;
    background: silver;
    text-align: left;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 1; }
  #nav ul li:hover ul.megamenu {
    top: 100%; }
  /*fördelad på fyra kolumner*/
  #nav ul.megamenu ul {
    flex: 1 1 25%;
    margin-bottom: 20px;
    color: #000;
    box-shadow: none; }
  #nav ul.megamenu h4 {
    margin-bottom: 15px;
    text-transform: uppercase; }
  #nav ul.megamenu ul li {
    display: block; }
  #nav ul.megamenu ul li a {
    margin-top: 0.625em;
    transition: 0.5s;
    padding-left: 0; }
  #nav ul.megamenu ul li a:hover {
    font-weight: bold;
    text-shadow: 1px 1px #DAE7F7; }
  .flex-form > li > .form-label + * {
    display: flex; }
  .flex-form li button {
    width: 55%; }
  h4 {
    max-width: 200px; }
  .submenu img {
    display: block; } }

/*--------------------------------------------------------------
Cards code
------------------------------------------------*/
.cards {
  max-width: 40em;
  margin: 1em auto; }

.cards a {
  display: block;
  margin-bottom: 1em; }

.para {
  padding: 0.5em;
  font-size: 150%;
  color: white;
  background-color: black; }

.para .blue {
  font-style: italic;
  color: #00ADEF; }

section img {
  display: block;
  border: 0;
  width: 100%;
  height: auto; }

.tex {
  text-align: center;
  background-color: #00ADEF; }

.tex:nth-child(5) {
  background-color: #54C7F3; }

.tex:nth-child(6) {
  background-color: #037CA7; }

.tex:nth-child(8) {
  background-color: #92C5D8; }

.tex .fa {
  color: white;
  padding-top: 50px;
  font-size: 250%; }

.tex p {
  color: white;
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: 150%; }

/*--------------------------------------------------------------
Aside code
------------------------------------------------*/
aside {
  background-color: #037CA7;
  max-width: 40em;
  padding: 1em;
  text-align: center;
  margin: 1em auto; }

aside h2 {
  background-color: #92C5D8;
  color: white;
  margin-bottom: 10px; }

aside p {
  font-size: 120%;
  color: white;
  margin-bottom: 10px; }

aside .span0 {
  display: block;
  color: white;
  font-size: 130%;
  background-color: #92C5D8; }

/*--------------------------------------------------------------
Footer code
------------------------------------------------*/
footer {
  background-color: #54C7F3;
  max-width: 40em;
  margin: 1em auto; }

footer .contact {
  color: white;
  text-align: center;
  padding: 1em; }

.contact .span1 {
  font-weight: bold;
  font-size: 125%;
  line-height: 50px; }

.contact p {
  font-size: 110%;
  margin-bottom: 10px; }

.contact p,
.contact .span2 {
  display: block;
  padding: 5px; }

.contact .fa {
  font-size: 165%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px; }

/*--------------------------------------------------------------
Cards code
------------------------------------------------*/
@media (min-width: 48em) {
  /*code for the medium breakpoint starts here*/
  .cards {
    display: flex;
    flex-flow: row wrap;
    max-width: 46em;
    width: 45em; }
  .double:nth-child(1) {
    width: 25em;
    text-align: center;
    margin-right: 1em;
    padding-top: 60px;
    background-color: black;
    margin-bottom: 1em; }
  .pic {
    width: 19em; }
  .tex:nth-child(3n) {
    width: 12em;
    margin-right: 1em;
    margin-bottom: 1em; }
  .tex:nth-child(3n+5) {
    width: 12em;
    margin-left: 1em;
    margin-bottom: 1em; }
  .double:nth-child(11) {
    width: 12em;
    margin-left: 1em;
    background-color: black;
    margin-bottom: 1em; }
  /****************Aside Code****************/
  aside {
    display: flex;
    max-width: 46em;
    width: 45em; }
  /****************Footer Code****************/
  footer {
    display: flex;
    max-width: 46em;
    width: 45em; } }
