@import url(https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
* {
  padding: 0;
  margin: 0;
  font-family: merriweather;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

body {
  background: linear-gradient(0deg, white, #7e576d);
  /*linear gradient that progress in a straight line*/
  height: 100vh; }

/*-----------Normalize file-----------*/
/*
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*Breakpoint Map*/
/*Color Map*/
/*Styling Navigation*/
/*Checkbox Code*/
#nav-toggle {
  display: none;
  /*hides the mobile menu checkbox*/ }

#nav-toggle:checked + #wrapper nav {
  display: block;
  /*displays mobile menu when the checkbox is on checked mode*/ }

/*Header Code*/
header {
  display: flex;
  /*flexbox 1 which holds the diamond font icon, <h1> element, image and label*/
  justify-content: space-between;
  background-image: url(https://img0.etsystatic.com/150/0/8402130/il_fullxfull.1102201938_8p2k.jpg);
  background-repeat: no-repeat;
  /*displays the image once*/
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-color: #604663;
  border-width: 10px; }

header .fa-bars {
  /*styling label which is the bars font icon*/
  color: #dacfdb;
  font-size: 2.2em;
  padding-top: 5px;
  padding-right: 10px; }

.logo-container {
  display: flex;
  /*flexbox 2 which holds the diamond font icon and the <h1> element*/
  align-items: baseline;
  /*all flexbox items are aligned such as their baselines align*/ }

.logo-container .fa-diamond {
  /*styling the diamond font icon*/
  color: #852878;
  font-size: 35px;
  padding: 5px; }

.logo {
  /*styling the <h1> element*/
  color: #dacfdb;
  text-shadow: 4px 4px 8px #852878;
  font-size: 1.8em; }

/*Navigation Code*/
nav {
  display: none;
  /*the menu is hidden on mobile by default*/
  text-transform: uppercase; }

nav a {
  display: block;
  /*block makes the hover strech across the whole <nav>*/
  font-size: 20px;
  color: #604663; }

nav a:hover {
  background: #dacfdb;
  /*hover background color*/
  color: #852878;
  /*hover text color*/ }

nav ul li {
  background-color: #a1a0a0;
  /*<nav> list background color*/
  line-height: 40px;
  padding-left: 50px; }

/*Breakpoint small*/
@media (min-width: 40em) {
  /*Header Code*/
  label {
    display: none;
    /*hides the bars font icon on tablet/desktop*/ }
  /*Navigation Code*/
  nav {
    display: flex;
    /*flexbox 3 which holds the entire navigation*/
    justify-content: flex-end;
    /*pushes flex items to the right*/
    text-align: center;
    margin-bottom: 30px; }
  .ul1 {
    display: flex;
    /*flexbox 3 which holds the <ul> element*/ }
  nav a {
    font-size: 18px; }
  nav ul li {
    /*styling tablet/desktop navigation*/
    width: 130px;
    height: 40px;
    line-height: 40px;
    margin-right: 1px;
    padding-left: 0; } }

/*Styling Footer*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #604663;
  color: #dacfdb;
  margin: 10px;
  padding: 5px; }

footer h1 {
  padding: 2px;
  border-bottom-style: solid;
  border-top-style: solid;
  text-align: center;
  border-width: 2px; }

footer p {
  text-align: center;
  margin-bottom: 20px;
  font-style: italic; }

.fa-facebook-square,
.fa-twitter,
.fa-google-plus-square,
.fa-instagram {
  padding-left: 18px;
  margin-bottom: 10px;
  color: #dacfdb;
  text-align: center;
  font-size: 30px; }
