/*-----------Imported Files-----------*/

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import "utilities/variables", "utilities/mixins", "utilities/helpers", "layout/_layout", "modules/_modules";

/*-----------Mobile Cards-----------*/
.cards {
  max-width:40em;
  margin:1em auto;
}
.cards a {
  display:block;
  margin-bottom:1em;
}
.para { 
  padding:0.5em;
  font-size:150%;
  color:white;
  background-color:black;
}
.para .blue {
  font-style:italic;
  color:$blue1;
}
section img {
  display:block;
  border:0;
  width:100%;
  height:auto;
}
.tex {
  text-align:center;
  background-color:$blue1;
}
.tex:nth-child(5) {
  background-color:$blue2;
}
.tex:nth-child(6) {
  background-color:$blue3;
}
.tex:nth-child(8) {
  background-color:$blue4;
}
.tex .fa {
  color:white;
  padding-top:50px;
  font-size:250%;
}
.tex p {
  color:white;
  padding-top:10px;
  padding-bottom:50px;
  font-size:150%;    
}

/*-----------Mobile Aside-----------*/
/*
aside {
  background-color:$blue3;
  max-width:40em;
  padding:1em;
  text-align: center;
  margin:1em auto;
}
aside h2 {
  background-color:$blue4;
  color:white;
  margin-bottom:10px;
}
aside p {
  font-size:120%;
  color:white;
  margin-bottom:10px;
}
aside .span0 {
  display:block;
  color:white;
  font-size:130%;
  background-color:$blue4;
}

/*-----------Mobile Footer-----------*/
/*
footer {
  background-color:$blue2;
  max-width:40em;
  margin:1em auto;
}
footer .contact {
  color:white;
  text-align:center;
  padding:1em;
}
.contact .span1 {
  font-weight:bold;
  font-size:125%;
  line-height:50px;
}
.contact p {
  font-size:110%;
  margin-bottom:10px;
}
.contact p,
.contact .span2 {
  display:block;
  padding:5px;
}
.contact .fa {
  font-size:165%;
  margin-right:10px;
  margin-left:10px;
  margin-top:10px;
}

/*-----------Desctop Cards-----------*/

@include respond-to('medium') { 

.cards {
  display:flex;
  flex-flow:row wrap;
  max-width:46em;
  width:45em;
} 
.double:nth-child(1) {
  width:25em;
  text-align:center;
  margin-right:1em;
  padding-top:60px;
  background-color:black;
  margin-bottom:1em;
}
.pic { 
  width:19em;
}
.tex:nth-child(3n) {
  width:12em;
  margin-right:1em;
  margin-bottom:1em;
}
.tex:nth-child(3n+5) {
  width:12em;
  margin-left:1em;
  margin-bottom:1em;
}
.double:nth-child(11) {
  width:12em;
  margin-left:1em;
  background-color:black; 
  margin-bottom:1em;
}
}
/*-----------Desctop Aside-----------*/
/*
aside {
  display:flex;
  max-width:46em;
  width:45em;
}

/*-----------Desctop Footer-----------*/
/*
footer {
  display:flex;
  max-width:46em;
  width:45em;
}
}

/*-----------Grids Tablet-----------*/

@supports (grid-area: auto) {
  
  @include respond-to('medium') { 
    
  .cards a {
     margin-bottom:0;
  }
  .cards {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-auto-rows:1fr 1fr 1fr 1fr 1fr 2fr 1fr;
    grid-template-areas:"A A" "B C" "D E" "F G" "H I" "J J" "J J" "K K";
    grid-gap:1em; 
    max-width:75em;
    width:100%;
  }
  .double .para {
    text-align:center;
    margin:0;
    padding-top:0;
    padding:10;
    font-size:180%;
  }
  .double:nth-child(1) {
    grid-area:A;
    background-color:black;
    margin:0;
    padding-bottom:30px;
    width:100%;
  }
  section img {
    display:block;
    border:0;
    width:100%;
    height:280px;
  }
  .pic:nth-child(2) {
    grid-area:B;
    width:100%;
  }
  .tex {
    margin:0;
    padding:0;
    font-size:180%;
  }
.tex:nth-child(3) { /*why does it not work when I write .tex margin = 0? why do i have to use nth-child?*/
    grid-area:C;
    width:100%;
    margin:0;
  }
.pic:nth-child(4) {
    grid-area:E;
    width:100%;
  }
.tex:nth-child(5) { 
    grid-area:D;
    width:100%;
    margin:0;
}
.pic:nth-child(7) {
    grid-area:F;
    width:100%;
}
.tex:nth-child(6) { 
    grid-area:G;
    width:100%;
    margin:0;
}
.double:nth-child(11) {
    grid-area:K;
    background-color:black;
    margin:0;
    padding-top:50px;
    padding-bottom: 30px;
    width:100%;
}
.tex:nth-child(8) { 
    grid-area:H;
    width:100%;
    margin:0;
}
  .tex:nth-child(9) { 
    grid-area:I;
    width:100%;
    margin:0;
  }
  .pic:nth-child(10) {
    grid-area:J;
    width:100%;
  }
}

/*-----------Grids Desktop-----------*/

@include respond-to('large') {

.cards {
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows:auto;
  grid-template-areas:"A B C D" "E F G H" "I J" "K"; /*why does it not update on big screen?!*/
  grid-gap:1em; 
}
.double:nth-child(1) {
  padding-top:90px;
  grid-column:1/3;
  grid-row:1/2;
}
.pic:nth-child(2) {
  grid-column:3/4;
  grid-row:1/2;
}
.tex:nth-child(3) { 
  grid-column:4/5;
  grid-row:1/2;
}
.pic:nth-child(4) {
  grid-column:5/6;
  grid-row:1/2;
}
.tex:nth-child(5) { 
  grid-column:1/2;
  grid-row:2/3;
}
.pic:nth-child(7) {
  grid-column:2/3;
  grid-row:2/3;
}
.tex:nth-child(6) { 
  grid-column:3/4;
  grid-row:2/3;
}
.double:nth-child(11) {
  grid-column:4/6;
  grid-row:2/3;
  padding-top:100px;
}
.pic:nth-child(10) {
  grid-column:3/6;
  grid-row:3/4;
}
.tex:nth-child(8) { 
  grid-column:1/2;
  grid-row:3/4;
}
.tex:nth-child(9) { 
  grid-column:2/3;
  grid-row:3/4;
}
}
}