///Mixin using breakpoint map 
@mixin respond-to($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
      + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
//Mixin creating lines
@mixin line { 
  border-bottom-style: solid;
  border-top-style: solid;
  text-align:center;
  border-width:2px;
}
footer h1,
.one {
  @include line;
}
//Mixin creating text effect
@mixin logo_effect {
  color:$light;
  text-shadow:4px 4px 8px $shine;
}
.introduction,
.career,
.tutext,
.producttext {
  @include logo_effect;
}