body {
	margin: 0;
}
body,
button,
input,
select,
textarea {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body {
	margin: 0;
}
body,
button,
input,
select,
textarea {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
p {
	margin-bottom: 1.5em;
}
b,
strong {
	font-weight: bold;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
    display: inline-block;
    font-family: "Courier 10 Pitch", Courier, monospace;
    color: #ddca7e;
    background: #282c34;
	padding: .5em .8em;
    border-radius: .2em;
}
code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}
/* Header */
.masthead {
	padding: 0 1em;
	text-align: center;
	border-bottom: 1px solid hsl(0, 0%, 90%);
}
/*--------------------------------------------------------------
Cards:
--------------------------------------------------------------*/
.cards {
	max-width: 25em;
	margin: 1em auto;
	padding: 0;
	list-style-type: none;
}
.cards a {
	display: block;
	margin-bottom: 1em;
	text-decoration: none;
}
.caption {
	padding: 1em;
	font-size: 90%;
	color: black;
}
.caption-title {
	margin: 0;
	font-size: 1.4em;
	line-height: 1em;
}
.caption p {
	margin-top: .5em;
	margin-bottom: 0;
}
.double:hover, /*double:hover & focus are added to enable selecting the whole card with hover. If this is not added this way it will only select part of the card.*/
.double:focus ,
.card-item:hover,
.card-item:focus {
    transition: all .4s;
    margin: -3px 3px 3px -3px;
}
/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {

@media screen and (min-width: 27em) {

img {
	display:block;
}
.cards {
	margin: 0 auto;
	padding: 1em;
}

.card {
	margin:0;
	display:grid;
	grid-template-columns:8em auto; /*creates 2 columns (card = from the picture to the text)*/
	background-color: pink;
}
.card-item .caption {
	grid-column:2/3; /*makes caption (caption = only text) span from column 2 to 3 */
}
.card-item a:focus,
.cards-item a:hover {
	outline: 1px solid hsl(0, 0%, 80%);
}
}
@media screen and (min-width: 60em) {
.cards {
	display:grid;
	grid-template-columns:25em 25em; /*creates 2 equally big columns*/
	max-width:900px;
	width:100%;
	grid-gap:1em;
}
.cards a {
	margin-bottom: 0;
}
.double {
	grid-row:span 3; /*makes the two double cards (the big once) span in 3 rows*/
	grid-column:span 1; /*makes the two double cards (the big once) span in 1 column*/
	background-color: pink;
}
.double figure { 
	display:block; /*makes the text go under the picture*/
}
.double img {
	min-width:25em;
	max-width:25em;
	margin:auto;
}
.card-item img {
	height:160px;
	margin:auto;
}
}
}