* {
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family:merriweather; 
}
ul, a {
	list-style:none;
	text-decoration:none;
}
body {
	max-width:804px;
	margin:0 auto;
}

/****************Checkbox Code****************/

#nav-toggle { 
  display:none; /*hides the mobile menu checkbox*/
}
#nav-toggle:checked + #wrapper nav { 
  display:block; /*displays mobile menu when the checkbox is on checked mode*/
}

/****************Header Code****************/

header { 
  display:flex; /*flexbox 1 which holds the diamond font icon, <h1> element, image and label*/
  justify-content:space-between;
	background-image:url(https://newevolutiondesigns.com/images/freebies/black-white-facebook-cover-2.jpg);
	background-repeat:no-repeat; /*displays the image once*/
	background-size:cover;
	border-bottom-style:solid;
  border-bottom-color:#2EFEF7;
  border-width:10px;
}
header .fa-bars { /*styling label which is the bars font icon*/ 
  color:#2EFEF7;
  font-size:2.2em;
  padding-top:5px;
  padding-right:10px;
}
.logo-container {
  display:flex; /*flexbox 2 which holds the diamond font icon and the <h1> element*/
  align-items:baseline; /*all flexbox items are aligned such as their baselines align*/
}
.logo-container .fa-diamond { /*styling the diamond font icon*/  
  color:#2EFEF7;
  font-size:35px;
  padding:5px;
}
h1 { /*styling the <h1> element*/  
  color:white;
  text-shadow:2px 2px 4px #2EFEF7;
  font-size:1.8em; 
}

/****************Navigation Code****************/

nav { 
  display:none; /*the menu is hidden on mobile by default*/
  text-transform:uppercase;
}
nav a {
  display:block; /*block makes the hover strech across the whole <nav>*/ 
  font-size:20px; 
  color:#2EFEF7;
}
nav a:hover {
  background:#223433; /*hover background color*/
  color:#2EFEF7; /*hover text color*/
}
nav ul ul li ul a:hover {
  background:#223433;
  color:#2EFEF7; 
}
nav ul li {
  background-color:#424242; /*<nav> background color in mobile*/
  line-height:40px;
  padding-left:50px
}
nav ul li ul a { 
  color:white;
  font-size:18px;
}
nav ul ul li ul a { 
  color:#BDBDBD;
  font-size:18px;
}

/****************Cards Code****************/

.cards { /*styling all the cards which is the <ul> element*/
  max-width:35em;
  margin:2em auto;
  padding:0;
}
.cards a {
  display: block;
  margin-bottom:1em;
}
.caption{ /*styling all captions in cards*/
  background-color:#424242;
  border-top-style:solid;
  border-top-color:#2EFEF7;
  border-width:5px;
}
.caption p { /*styling all paragraphs in caption*/
  padding:10px;
  font-size:17px;
  color:white;
  text-align:center;
}
.caption p:first-letter { 
  font-size:150%;
  color:#2EFEF7;
}
img { /*adjusts images*/
  display:block;
  width:100%;
  height:auto;
}
.card:hover,
.card:focus { /*creates specific hover effect for mobile*/
  transition: all .4s;
  margin: -3px 3px 3px -3px;
}

@supports (grid-area: auto) { /*CSS grid layout for wider screens, when browser supports grid*/

@media screen and (min-width: 34em) {

/****************Header Code****************/

label { 
  display:none; /*hides the bars font icon on tablet/desktop*/
} 

/****************Navigation Code****************/

nav {
  display:flex; /*flexbox 3 which holds the entire navigation*/
  justify-content:flex-end; /*pushes flex items to the right*/
  text-align:center;
  margin-bottom:30px;
}
.ul1 { 
  display:flex; /*flexbox 3 which holds the <ul> elements*/
}
nav a {
  font-size:18px;
}
nav ul li { /*styling tablet/desktop navigation*/ 
  width:130px;
  height:40px;
  line-height:40px;
  margin-right:1px;
  padding-left:0;
}
nav ul ul li { 
  position:relative;
  display:none; /*hides the dropdown-menu*/
}
nav ul ul ul { 
  display:none; /*hides the sub-menu in the dropdown*/
}
nav ul li:hover ul li { 
  display:block; /*shows dropdown when you hover on <ul> and <li>*/
}
nav ul ul li:hover ul { 
  display:block; /*shows dropdown sub-menu when you hover on <ul> and <li>*/
  position:absolute; /*absolute position agains the parents which is relative*/
  width:130px; /*similar to <ul> <li>*/
  left:130px; /*200px from its parent*/
  top:0px; /*absolute position highst against its parent*/
}

/****************Cards Code****************/

.cards {
  margin:0 auto;
}
.card {
  margin:0;
  display:grid;
  grid-template-columns:1fr 1fr; /*creates 2 columns in card from the picture to the text)*/
}
img {
  display:block; 
}
.cards a {
  margin-bottom: 1em 0;
}
.card:hover,
.card:focus { /*creates specific hover effect on tablet*/
  transition: all .3s;
  margin: -3px 3px 3px -3px;
  outline:2px solid #2EFEF7;
}
}

@media screen and (min-width: 50.25em) {

/****************Cards Code****************/

.cards {
  display:grid; /*the <ul> element which holds all the card-items is placed in one big grid container*/
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 2fr;
  min-width:804px;
  grid-gap:1em;
}
.cards a {
  margin-bottom:0; /*re-set margin to 0*/
}
.card:hover,
.card:focus { /*re-set tablet hover effect*/
  transition:0;
  margin:0;
  outline:none;
}
.card-item1:hover,
.card-item1:focus,
.card-item2:hover,
.card-item2:focus,
.card-item3:hover,
.card-item3:focus,
.card-item4:hover,
.card-item4:focus,
.card-item5:hover,
.card-item5:focus,
.card-item6:hover,
.card-item6:focus,
.card-item7:hover,
.card-item7:focus { /*creates specific hover effect for desktop. This is not the most effective way of writting*/
  transition: all .3s;
  margin: -3px 3px 3px -3px;
  outline:2px solid #2EFEF7;
}
.card-item1,
.card-item2,
.card-item3,
.card-item4,
.card-item5,
.card-item6,
.card-item7 { /*sets a background color for all card-items, if this is not done a small white background is created*/
background-color:#424242;
}
.card-item2 {
  grid-column:2/4;
  grid-row:1/2;
}
.card-item5 {
  grid-column:2/4;
  grid-row:2/3;
}
.card-item7 {
  grid-column:1/5;
  grid-row:3/5;
  max-height:200px;
}
.card img { /*the last two code sections make sure that the image is on top and the text is on the bottom*/
  grid-column:1/3;
}
.card .caption {
  grid-column:1/3;
}
}