/*Styling Grids-l*/

/*Breakpoint large*/
@supports (grid-area: auto) {
@include respond-to("large") { /*using my own breakingpoint variable from breakingpoints*/
.container {
    display: grid;
    grid-template: auto / repeat(10,1fr);
    max-width: 1200px;
}
.small_ad {
    align-self: center;
    grid-column:1/3;
    grid-row:1/2;
}
.article_header {
    grid-column:3/11;
    grid-row:1/2;
    align-self: end;
}
.article_body {
    grid-column:8/11;
    grid-row:2/3;
}
.bg_block {
    grid-column:1/8;
    grid-row:2/3;
    height:130vh;
}
.community {
    grid-column:1/11;
    grid-row:3/4;
    display:flex;
   // justify-content: flex-end//why does images not go to the right?! 
}
.footer {
    grid-column: 1/11;
    grid-row: 4/5;
    display:flex;
    flex-direction: column;
}
}
}